<%- include("common/header.ejs") %>
		<!--end header -->
		<!--start page wrapper -->
		<div class="page-wrapper">
			<div class="page-content">
				<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
					<div class="breadcrumb-title pe-3">Dashboard</div>
					<div class="ps-3">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0 p-0">
								<li class="breadcrumb-item"><a href="/"><i class="bx bx-home-alt"></i></a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">Customize Fabricator Page</li>
							</ol>
						</nav>
					</div>
				</div>
				<div class="row">
					<div class="col-xl-3"></div>
					<div class="col-xl-6 d-flex">
						<div class="card radius-10 w-100">
							<div class="card-body">
								<div class="d-flex align-items-center">
									<div>
										<h5 class="mb-1">Add Fabricator Picture</h5>
									</div>
								</div>
								<br>
								<form action="add_fabricator" method="POST" class="row g-3 needs-validation" enctype="multipart/form-data">
									<div class="mb-3">
										<label for="gallery_picture" class="form-label">Add Fabricator Picture</label>
										<input class="form-control" type="file" id="Fabricator_picture" name="image" required>
									</div>

									<div class="col-12">
										<button class="btn btn-light" type="submit">Submit form</button>
									</div>
								</form>
					
							</div>
						</div>
					</div>
					<div class="col-xl-3"></div>
				</div>
				<!--end row-->
				<div class="row">
					<div class="col-xl-12 d-flex">
						<div class="card radius-10 w-100">
							<div class="card-body">
								<div class="d-flex align-items-center">
									<div>
										<h5 class="mb-1">Fabricator Pictures</h5>
									</div>
								</div>
								<div class="table-responsive mt-4">
									<table class="table align-middle mb-0 table-hover table-striped text-center">
										<thead class="table-light">
											<tr>
												<th>Picture</th>
												<th>Action</th>
											</tr>
										</thead>
										<% if(displayfabricatordata.length>0) {%>
											<tbody id="fabricator">
											  <% for(let fabricator of displayfabricatordata){ %>
											  <tr>
											
												<td><img src="<%=fabricator.image%>" alt="fabricator image"  width="50px" height="50px" ></td>
												<td><a href="delete_fabricator/<%= fabricator._id%>" class="btn btn-danger">Delete</a></td>
												
											  </tr>
											  
											</tbody>
											<%}}else{%>
											<h1>No Image Found</h1>
											<% } %>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--end page wrapper -->
		<!--start overlay-->
		<div class="overlay toggle-icon"></div>
		<!--end overlay-->
		<!--Start Back To Top Button--> <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
		<!--End Back To Top Button-->
		<%- include("common/footer.ejs") %>