<%- include("common/header") %>
    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary py-5">
        <div class="container py-5">
            <div class="row align-items-center py-4">
                <div class="col-md-6 text-center text-md-left">
                    <h1 class="mb-4 mb-md-0 text-primary text-uppercase">About Us</h1>
                </div>
                <div class="col-md-6 text-center text-md-right">
                    <div class="d-inline-flex align-items-center">
                        <a class="btn btn-outline-primary" href="">Home</a>
                        <i class="fas fa-angle-double-right text-primary mx-2"></i>
                        <a class="btn btn-outline-primary disabled" href="">About Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header Start -->


    <!-- About Start -->
    <div class="container-fluid bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="d-flex flex-column align-items-center justify-content-center bg-primary h-100 py-5 px-3">
                        <i class="flaticon-brickwall display-1 font-weight-normal text-secondary mb-3"></i>
                        <h4 class="display-3 mb-3">7</h4>
                        <h1 class="m-0">Years Experience</h1>
                    </div>
                </div>
                <div class="col-lg-7 m-0 my-lg-5 pt-5 pb-5 pb-lg-2 pl-lg-5">
                    <h6 class="text-primary font-weight-normal text-uppercase mb-3">Learn About Us</h6>
                    <h1 class="mb-4 section-title" style="font-size: 40px; font-style: italic; font-family: 'Times New Roman', Times, serif">We Are The  Best Interior Exterior Constructing Company</h1>
                    <p style="font-size: 20px; font-style: italic; font-family: 'Times New Roman', Times, serif ; color: black;" >
                        VIVID DESIGN is a Kolkata based comprehensive service provider for interior design, renovation and turnkey project execution. We master excellent and creative interior design and renovation services not only for commercial establishment but also for residential too –all using modern techniques.
          We build our reputation on our efficient and qualified professional experts who are in this field for years, customer satisfaction and innovative interior design creation which avail to the current trend both classical as well as contemporary interior designs.
          The referrals of our distinguished and satisfied customers prove our reputation. Regardless of the type of establishment, size or design. Our Services focus mainly on quality.
          We create interior designs that are suitable for residential and commercial establishments either big or small. We provide creativity that excels others. We offer services with efficiency, on-time schedule and professionally.
                    </p>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
<br><br>

    <!-- Features Start -->
    <div class="container-fluid bg-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 mt-5 py-5 pr-lg-5">
                    <h6 class="text-primary font-weight-normal text-uppercase mb-3">Who we are?</h6>
                    <h1 class="mb-4 section-title" style="font-size: 40px; font-style: italic; font-family: 'Times New Roman', Times, serif">Founded in 2007, VIVID DESIGN is specializing in providing
                        innovative services such as website design, brand
                        identity and marketing</h1>
                    
                    
                </div>
                <div class="col-lg-5">
                    <div class="d-flex flex-column align-items-center justify-content-center h-100 overflow-hidden">
                        <img class="h-100" src="img/interior/pic7.jpg" alt="" style="height:1000px; width: 500px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Features End -->
<br><br>
    
    
    <%- include("common/footer") %> 

    