 <!-- Footer Start -->
 <div class="container-fluid bg-dark text-white py-5 px-sm-3 px-md-5">
    <div class="row pt-5">
        <div class="col-lg-3 col-md-6 mb-5">
            <h4 class="text-primary mb-4">Get In Touch</h4>
            <p><i class="fa fa-map-marker-alt mr-2"></i>SALTLAKE,KOLKATA,WEST BENGAL</p>
            <p><i class="fa fa-phone-alt mr-2"></i>9609919299</p>
            <p><i class="fa fa-envelope mr-2"></i>vividdesign.com</p>
            <div class="d-flex justify-content-start mt-4">
               
                <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 38px; height: 38px;" href="https://www.facebook.com/Vivid-Design-and-Contractors-115580011131310/"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 38px; height: 38px;" href="https://youtube.com/channel/UCX2go1poBGSXJZL4Ftx1M_g"><i class="fab fa-youtube"></i></a>
                <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 38px; height: 38px;" href=""><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <h4 class="text-primary mb-4">Quick Links</h4>
            <div class="d-flex flex-column justify-content-start">
                <a class="text-white mb-2" href="/"><i class="fa fa-angle-right mr-2"></i>Home</a>
                <a class="text-white mb-2" href="/about"><i class="fa fa-angle-right mr-2"></i>About Us</a>
                
                <a class="text-white mb-2" href="/upcomming_projects"><i class="fa fa-angle-right mr-2"></i>Our Projects</a>
                <a class="text-white" href="/gallary"><i class="fa fa-angle-right mr-2"></i>Gallery</a>
                <a class="text-white" href="/blog"><i class="fa fa-angle-right mr-2"></i>Blog</a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <h4 class="text-primary mb-4">Our Services</h4>
            <div class="d-flex flex-column justify-content-start">
                <a class="text-white mb-2" href="/home_interior"><i class="fa fa-angle-right mr-2"></i>Interior</a>
                <a class="text-white mb-2" href="/home_exterior"><i class="fa fa-angle-right mr-2"></i>Exterior</a>
                <a class="text-white mb-2" href="/civil_work"><i class="fa fa-angle-right mr-2"></i>Civil Work</a>
                <a class="text-white mb-2" href="/fabricator"><i class="fa fa-angle-right mr-2"></i>Fabricator</a>
                <a class="text-white" href="/branding"><i class="fa fa-angle-right mr-2"></i>Branding</a>
                <a class="text-white" href="/paste_control"><i class="fa fa-angle-right mr-2"></i>Paste Control</a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <h4 class="text-primary mb-4">Newsletter</h4>
            <form action="">
                <div class="form-group">
                    <input type="text" class="form-control border-0" placeholder="Your Name" required="required" />
                </div>
                <div class="form-group">
                    <input type="email" class="form-control border-0" placeholder="Your Email" required="required" />
                </div>
                <div class="form-group">
                    <input type="number" class="form-control border-0" placeholder="Your Contact" required="required" />
                </div>
                <div>
                    <button class="btn btn-lg btn-primary btn-block border-0" type="submit">Submit Now</button>
                </div>
            </form>
        </div>
    </div>
    <div class="container border-top border-secondary pt-5">
        <p class="m-0 text-center text-white">
            &copy; <a class="text-white font-weight-bold" href="#">VIVID DESIGN</a>. All Rights Reserved. 
            
            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
            Designed by <a class="text-white font-weight-bold" href="https://mazesoftsolutions.com/">Maze Soft Solution</a>
        </p>
    </div>
</div>
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/isotope/isotope.pkgd.min.js"></script>
<script src="lib/lightbox/js/lightbox.min.js"></script>

<!-- Contact Javascript File -->
<script src="mail/jqBootstrapValidation.min.js"></script>
<script src="mail/contact.js"></script>

<!-- Template Javascript -->
<script src="js/main.js"></script>
</body>

</html>